$FF-Lato: 'Lato', sans-serif;

$Size: 14px;
$SizeH3: 30px;
$fs-mobalH: 16px;
$fs-mobal: 14px;
$fs-table: 16px;
$Color: #5D5D5D;
$Color-pink: #F16D7F;
$Color-black: #222222;
$Color-header: rgba(34, 34, 34, 1);
$Color-intro: #F1E4E6;
$Color-WGray: #808080;

$margin-mobal: 0 7px 48px 7px;
$cards-width: 652px;
$cards_modal-w: 360px;

$intro-momal: 360px;